html, body {
    background: #81d4fa;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 100%;
    margin: 0;
    padding: 0;
}


.back {
    position: absolute;
    width: 127px;
    height: 81px;
    left: 2%;
    top: 2%;
    font-family: 'Lilita One';
    background: #03A9F4;
    border-bottom: 6px solid #01579b;
    border-radius: 15px;
    border-right-style: none;
    border-left-style: none;
    border-top-style: none;
    color: #FFFFFF;
    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    z-index: 2;

}

.next {
    /* display: flex; */
    /* justify-content: center; */
    position: fixed;
    width: 127px;
    height: 81px;
    right: 2%;
    bottom: 2%;

    background: #03A9F4;
    border-bottom: 6px solid #01579b;
    border-radius: 15px;
    border-right-style: none;
    border-left-style: none;
    border-top-style: none;

    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.quiz {
    /* display: flex; */
    /* justify-content: center; */
    position: fixed;
    width: 127px;
    height: 81px;
    right: 2%;
    top: 2%;

    background: #03A9F4;
    border-bottom: 6px solid #01579b;
    border-radius: 15px;
    border-right-style: none;
    border-left-style: none;
    border-top-style: none;

    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}


.boton-siguiente{
    float: right;
    width: 50%;
    margin-top: 5%;
    text-align: center;
    overflow: hidden;
}

.next:hover{
    background: #01579b;
    border-bottom: 6px solid #03A9F4;
}

.next:active{
    background: #03A9F4;
    border-bottom: 6px solid #01579b;
}

.back:hover{
    background: #01579b;
    border-bottom: 6px solid #03A9F4;
}

.back:active{
    background: #03A9F4;
    border-bottom: 6px solid #01579b;
}

.quiz:hover{
    background: #01579b;
    border-bottom: 6px solid #03A9F4;
}

.quiz:active{
    background: #03A9F4;
    border-bottom: 6px solid #01579b;
}